
body {
    background-color: #fff;
    font-size: 16px;
    color: #313131;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Smooch Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    padding: 21px 32px;
    box-sizing: border-box;
}

.col-xs-4{
    width: 100%;
    padding:10px;
}
.col-xs-8{
    width: 50%;
}
.col-xs-6{
    width: 25%;
}

header ul.nav ,ul.col-xs-6{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}


header> div{
    width: 40% !important;
}

header ul.nav > li > a {
    text-decoration: none;
    padding: 20px;
}

    header ul.nav > li > a:hover {
        background-color: #313131;
    }






header ul.nav > li {
    position: relative;
    color: white;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px auto  200px;
    grid-template-rows: auto auto auto;
    padding: 5px;
    grid-gap: 50px;
}
.cont2 {
    display: grid;
    height: 40vh;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    grid-gap: 80px;
}
footer p a {
    text-decoration: none;
    
}